{% extends "todoList/layout.html" %}

{% block title %}
    Tasks
{% endblock %}

{% block main %}

    <form action="{% url 'tasks' %}" method="post">
        {% csrf_token %}
        <input name="task" placeholder="Task" type="text"/>
        <button class="btn btn-primary" type="submit">Submit task</button>
    </form>

    <div class="parent">
      <div class="tasks-display">
        To-do
        {% for task in display_tasks %}
            <li class = "task" draggable="true" ondragstart="onDragStart(event);" id="{{ task.0 }}"> {{ task.1 }} </li>
        {% endfor %}
      <div class="dropzone" ondragover="onDragOver(event);" ondrop="onDrop(event);">Completed</div>
    </div>
    <script>
        function onDragStart(event) {
            event
            .dataTransfer
            .setData("text", event.target.id);
        }

        function onDragOver(event) {
            event.preventDefault();
        }

        function onDrop(event) {
            const id = event
            .dataTransfer
            .getData('text');

            const draggableTask = document.getElementById(id);
            const dropzone = event.target;
            dropzone.appendChild(draggableTask);

            // Make a request to the controller to update the task status in the database
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/update_task?id="+id);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(null);

            event
                .dataTransfer
                .clearData();



        }


    </script>
{% endblock %}
